<!DOCTYPE html>
<html>
<head>
  <title>Unilingo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
